@{
    ViewBag.Title = "Info";
}

<h2>Mod de folosire</h2>

<b>Updated!!!</b>
<legend>Roluri:</legend>
<ul>
    <li>Administrator - (only for administration)</li>
    <li>Muhely_Szentgyorgy</li>
    <li>Muhely_Csikszereda</li>
    <li>Iroda_Szentgyorgy</li>
    <li>Iroda_Csikszereda</li>
</ul>
<br />
<legend>Updates - 2015.10.05</legend>
<ul>
    <li>Added Info panel for User.InRole(Administrator)</li>
    <li>Delete function resolved for Rols</li>
    <li>Separation for Sepsiszentgyorgy and Csikszereda - Services - ServicesControl(Muhely_Szentgyorgy, Muhely_Csikszereda && Iroda_Szentgyorgy, Iroda_Csikszereda)</li>
    <li>Updated - Masini Terminate for Persoana Juridica</li>
</ul>
<br />
<legend>Updates - 2015.10.06</legend>
<ul>
    <li>Made some changes to separation(Csikszereda - Sepsiszentgyorgy) <b>Need Testing!!!</b></li>
    <li>Notification for services changed</li>
    <li>Depozitation view changed</li>
</ul>
<br />
<legend>Updates - 2015.10.07</legend>
<ul>
    <li>Sorted order</li>
    <li>Updated Depozitare</li>
</ul>
<br />
<legend>Updates - 2015.10.08</legend>
<ul>
    <li>Updated edit sections</li>
    <li>Minor changes to Control Services (if a car is not done ("Terminat") it will remain on the dashboard)</li>
    <li>Updated Raport - <b>Not finished!</b></li>
</ul>
<br />
<legend>Updates - 2015.10.11</legend>
<ul>
    <li>Fixed notifications for depozitare and services</li>
    <li>Autocomplete function for Persoana Juridica in edit mode</li>
    <li>Fixed payment method edit</li>
</ul>
<br />
<legend>Updates - 2015.10.12</legend>
<ul>
    <li>Added Discount function</li>
</ul>