/*.container {
    padding-top: 10px;
}*/

body{
    background-color:#ECECEA;
}
.site-header {
    background: #2c2e50;
    padding-bottom: 20px;
    margin-bottom: 15px;
    color: #eee;
}

.site-header .page-header {
    border:none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.site-header .page-header small {
        color: #ddd;
        font-size: 16pt;
}

.site-header {
    color: #fff;
    text-decoration: none;
}

.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color:red;
}

.container {
            padding-top: 10px;
        }



