@model PangusServices.Models.Firme

@{
    ViewBag.Title = Model.Name;
}

<div class="container">
    <label>Denumire: </label>
    @Html.DisplayFor(x => x.Name)
    <br />
    <label>RO: </label>
    @if (Model.Ro == null)
    {
        <b>Lipseste</b>
    }
    else
    {
        @Html.DisplayFor(x => x.Ro)
    }
    <br />
    <label>CUI: </label>
    @if (Model.CUI == null)
    {
        <b>Lipseste</b>
    }
    else
    {
        @Html.DisplayFor(x => x.CUI)
    }
    <br />
    <label>Adresa: </label>
    @if (Model.Adresa == null)
    {
        <b>Lipseste</b>
    }
    else
    {
        @Html.DisplayFor(x => x.Adresa)
    }
</div>

